/* initial styles */
#number, #slot-container {
    width: 105px;
    height: 140px;
}

#number {
    font-size: 96px;
    text-align: center;
    line-height: 140px;
    transform: translateY(-140px);
    transition: transform 3s;
}

#slot-container {
    border: 1px solid;
    overflow: hidden;
}

/* css animation */
#number.in {
    transform: translateY(0);
}