/* initial styles */
#number-1, #number-2, #slot-container {
    width: 105px;
    height: 140px;
}

#number-1, #number-2 {
    font-size: 96px;
    text-align: center;
    line-height: 140px;
    transition: transform 2s;
    transition-timing-function: linear;
}

#number-1 {
    transform: translateY(-280px);
}

#number-2 {
    transform: translateY(-280px);
}

#slot-container {
    border: 1px solid;
    overflow: hidden;
}

/* css animation */
#number-1.in {
    transform: translateY(-140px);
}

#number-2.down {
    transform: translateY(-140px);
}

#number-2.in {
    transform: translateY(0);
}

#number-1.out {
    transform: translateY(140px);
}